* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #333;
    font-family: Helvetica, sans-serif;
}

#map {
    display: flex;
    flex-direction: column;
}

.row {
    display: grid;
    grid-template-columns: repeat(100, 25px);
    gap: 0;
    
}


.cell {
    height: 25px;
    position: relative;
    border: 1px solid black;
}

.cell::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 0;
    padding-bottom: 100%;
}

.ice {
    background: url('./img/ice.png') no-repeat center;
    background-size: cover;
}

.gift {
    background: url('./img/gift.png') no-repeat center;
    background-color: white;
    background-size: cover;
}

.snow {
    background: url('./img/snow.png') no-repeat center;
    background-size: cover;
}

.road {
    background: url('./img/earth.png') no-repeat center;
    background-size: cover;}



.death {
    background: url('./img/lava.png') no-repeat center;
    background-size: cover;
}

.clickable {
    cursor: pointer;
    position: relative;
}

.clickable::after {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    content: '';
    background-color: rgba(0, 0, 0, 0.25);
}



.santa {
    background: url('./img/santa.png') no-repeat center;
    background-color: white;
    background-size: cover;
}


.game {
    position: relative;
}



.controls {
    position: fixed;
    bottom: 0;
    left: 0;
    border: 1px solid black;
    min-width: 100px;
    max-width: 400px;
    min-height: 100px;
    height: auto;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#undo, #redo {
    background: none;
    border: none;
    font-size: 32px;
    cursor: pointer;
}

.input-wrapper, .improve-inputs {
    display: flex;
    gap: 5px;
}

#json-btn, #improve-btn {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    margin-left: auto;
}

#json-input {
    padding: 2px 4px;
}

.improve-input {
    max-width: 50px;
}